* {
	padding: 0;
	margin: 0;
}
html{
	font-size: 10px;
}
body{
	font-size: 16px;
}


.header-wrap {
	background-color: #f73707;
}
.header__main-logo {
	max-width: 100px;
	height: 100px;
}
.header__headline {
	font-size: 	3rem;
}


.main-nav__ul {
	list-style: none;
}	
.main-nav,
.link-list,
.form,
.table,
.footer {
	background-color: #03fc88;
}

form {
	order: 1;
}




td, th {
	padding: 5px;
	font-size: 16px;
	font-style: italic;	
}
tr:nth-child(odd) {
	background-color: #03fc6b;
}

tr:nth-child(even) {
	background-color: rgb(113, 0, 128);
}
form {
	order: -1;
}
